#pip
#pytz
Jinja2==2.10
MarkupSafe==1.1.0
PyJWT==1.6.4
PyQRCode==1.2.1
PyYAML==3.13
SQLAlchemy==1.2.17
Unidecode==1.0.23
aiohttp==3.5.4
aiohttp-cors==0.7.0
aiohue==1.9.0
asn1crypto==0.24.0
astral==1.8
async-timeout==3.0.1
attrs==18.2.0
bcrypt==3.1.5
certifi==2018.11.29
cffi==1.11.5
chardet==3.0.4
colorlog==4.0.2
cryptography==2.3.1
denonavr==0.7.8
distro==1.4.0
geojson==2.4.1
home-assistant-frontend==20190203.0
homeassistant==0.87.1
httmock==1.3.0
idna==2.8
idna-ssl==1.1.0
ifaddr==0.1.6
influxdb==5.2.1
luftdaten==0.5.0
multidict==4.5.2
netdisco==2.3.0
paho-mqtt==1.4.0
pycparser==2.19
pyiss==1.0.1
pyotp==2.2.6
pyowm==2.10.0
python-dateutil==2.8.0
python-slugify==1.2.6
pytz==2018.09
requests==2.21.0
ruamel.yaml==0.15.85
six==1.12.0
typing-extensions==3.7.2
ua-parser==0.8.0
urllib3==1.24.1
user-agents==1.1.0
voluptuous==0.11.5
voluptuous-serialize==2.0.0
xmltodict==0.11.0
yarl==1.3.0
zeroconf==0.21.3
